[Unit]
    Description=Music-Display
    After=logitechmediaserver.service

    [Service]
    ExecStart=/usr/bin/python2 /usr/local/bin/music-display/music-display.py
    ExecReload=/usr/bin/kill -HUP $MAINPID
    KillMode=process
    Restart=always
    RestartSec=10
    StartLimitInterval=30
    StartLimitBurst=20

    [Install]
    WantedBy=multi-user.target
