[Unit]
    Description=pydPiper music display service
    After=rune_PL_wrk.service

    [Service]

    ExecStart=/usr/bin/python2 /usr/local/bin/pydPiper/pydPiper.py -d lcd_display_driver_winstar_weh001602a --rune
    ExecReload=/usr/bin/kill -HUP $MAINPID
    KillMode=process
    Restart=always
    RestartSec=10
    StartLimitInterval=30
    StartLimitBurst=20

    [Install]
    WantedBy=multi-user.target
